* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, blue 50%, lightskyblue 50% );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 55%;
    background-color: whitesmoke;
    border-radius: 28px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formdiv {
    display: flex;
    width: 100%;
}

.login {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
}

.login h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}

.label {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.login label {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 8px;
    display: block;
}

.input {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
}

.toggle-password:hover {
    color: #333;
}

.forgot {
    display: block;
    text-align: right;
    font-size: 18px;
    color: blue;
    text-decoration: none;
    margin-bottom: 10px;
}

.remember {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    background-color: blue;
    color: white;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: darkblue;
}

h3 {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}

a, span {
    color: blue;
    text-decoration: none;

}

.img {
    width: 50%;
    background-image: url('img.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
